<table class="table">
    <thead>
        <tr>
            <th scope="col">Data do lançamento</th>
            <th scope="col">Descrição</th>
            <th scope="col">Número</th>
            <th scope="col">Situação</th>
            <th scope="col">Data de confirmação</th>
            <th scope="col">Dados bancários</th>
            <th scope="col">Valor final</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let obj of data.listaControleLancamento">
            <td>{{ obj.dataLancamentoContaCorrenteCliente }}</td>
            <td>{{ obj.descricaoGrupoPagamento }}</td>
            <td>{{ obj.numeroEvento }}</td>
            <td>{{ obj.lancamentoContaCorrenteCliente.nomeSituacaoRemessa }}</td>
            <td>{{ obj.dataEfetivaLancamento }}</td>
            <td>{{ obj.nomeBanco }} Ag {{ obj.lancamentoContaCorrenteCliente.dadosDomicilioBancario.numeroAgencia }} CC {{ obj.lancamentoContaCorrenteCliente.dadosDomicilioBancario.numeroContaCorrente }}</td>
            <td>{{ obj.valorLancamentoRemessa | currency:'BRL':true }}</td>
        </tr>
    </tbody>
</table>